<h1>New Articles</h1>

# using partial on "_form.html.erb"
#A partial's filename must be prefixed with an underscore, e.g. _form.html.erb. But when rendering, it is referenced without the underscore, e.g. render "form".
<%= render "form", article: @article %>



